<div class="row py-2">
  <div class="col-12">
    <a class="btn btn-primary" routerLink="/user/new">Add User</a>
  </div>

  <div class="col-12">
    <table class="table table-bordered my-2">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Age</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.age}}</td>
        <td>
          <a class="btn btn-success" routerLink="/user/{{user.id}}"><i class="fas fa-edit"></i></a>
          <a class="btn btn-danger" (click)="delete(user.id)"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="first">
          <a class="page-link" (click)="goToPage(pageNumber)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item" *ngFor="let num of numbers" [class.active]="pageNumber == num">
          <a class="page-link" (click)="goToPage(num + 1)">{{num + 1}}</a>
        </li>
        <li class="page-item" [class.disabled]="last">
          <a class="page-link" (click)="goToPage(pageNumber + 2)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
